html {
  font-family: sans-serif;
}

body {
  margin: 0;
  text-align: center;
  background-color: #2d2d32;
  color: #c24343;
}

#logo {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  margin-top: 2rem;
}

h1 {
  color: #b2c5e8;
}

a {
  color: #9712a3;
}
